.head{
    height: 10vh;
    width: 100%;
    background-color: rgba(60, 12, 138, 0.6);
    display: table;
}
.text-header{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    display: table-cell;
    padding-top: 12px;
    font-family: 'Indie Flower', cursive;
    opacity: 0.9;
    color: #ffffff;
}

body{
    position: relative;
    background-image: url('../images/maxresdefault.jpg');
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    background-color: rgb(248, 248, 248);
    position: absolute;
    margin-top: 5%;
    padding: 10px;
    border-radius: 15px;
}

.number{
    font-size: 40px;
    font-family: 'Satisfy', cursive;
}

#number-chosen{
    font-size: 30px;
}

.lead{
    font-family: 'Satisfy', cursive;
    padding-top: 20px;
}

.number, #number-chosen, .lead,
.jewels{
    text-align: center;
}

.icon{
    height: 80px;
    width: 80px;
    margin-left: 100px;
}
.jewels{
    padding: 25px;
}